:root {
    --primary-color: #fff;
    --chelsea-font: "Chelsea Market", cursive;
    --secondary-color: #4a9c80;
    --poppins-font: "Poppins", sans-serif;
    --third-color: #1E1E1E;
    --border-color: #D0CFCF;
    --nunnito-font: "Nunito", serif;
    --raleway-font: "Raleway", serif;
    --fourth-color: #393939;
    --background-color: #66A891;
}


